@import "../../../styles/_partials.scss";

.header {
    height: $header-height;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: $light-color-1;
    position: relative;
    z-index: 10;

    @media screen and (max-width: 1023px) {
        background-color: $primary-color !important;
    }

    &[class*="transparent"] {
        background-color: transparent;
    }

    &[class*="color"] {
        background-color: $primary-color;
    }
}

.logo {
    height: 100%;
    padding: 16px 0;

    a {
        height: inherit;

        img {
            height: inherit;
        }
    }

    @media screen and (max-width: 767px) {
        height: 90%;
    }
}

.nav {
    display: flex;
    align-items: center;

    ul {
        display: flex;
        align-items: center;

        li {
            font-size: 16px;
            padding: 80px 0;

            a {
                padding: 4px 16px;
                color: inherit;
                font-family: $styled-font;
                font-weight: bold;
                transition: color 0.2s;

                &:hover {
                    color: $secondary-color;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        visibility: hidden;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        width: 100%;
        padding: 0 16px;
        background-color: inherit;
        flex-direction: column;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);

        &.show {
            visibility: visible !important;
        }

        ul {
            width: 100%;
            flex-direction: column;

            li {
                width: 100%;
                padding: 12px;
                text-align: right;
                border-top: 1px solid rgba(255, 255, 255, 0.3);
            }
        }
    }
}

.fade {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    inset: 0;
    background-color: #000;
    opacity: 0.7;
    z-index: 1;

    &.show {
        display: block;
    }
}

.menu_btn {
    display: none;
    background: none;
    border: none;
    padding: 8px;
    font-size: 36px;
    color: inherit;
    cursor: pointer;

    @media screen and (max-width: 767px) {
        display: block;
    }

    > * {
        pointer-events: none;
    }
}
