@import "./partials";

@mixin splitScreenLayout {
    min-height: calc(100vh - $header-height);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    overflow-x: clip;

    @media screen and (max-width: 1023px) {
        flex-direction: column-reverse;
        overflow-y: clip;
    }

    [class*="left_container"],
    [class*="right_container"] {
        min-height: calc(100vh - $header-height);
        width: 100%;
        max-width: 50vw;
        padding: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 1023px) {
            max-width: 100%;
            min-height: auto;
        }
    }

    [class*="right_container"] {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            left: 25px;
            bottom: 0;
            width: calc(100% + 100px);
            height: 200vh;
            min-height: 1080px;
            background-color: $primary-color;
            transform: skewX(-5deg);
            z-index: -1;

            @media screen and (max-width: 1023px) {
                left: 0;
                top: -50px;
                width: 100%;
                height: calc(100% + 60px);
                min-height: auto;
                transform: skewY(5deg);
            }
        }
    }
}

@mixin btn_default {
    background-color: $primary-color;
    color: $light-color-1;
    font-weight: bold;
    padding: 8px;
    border: none;
    border-radius: 8px;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
        color: $secondary-color;
    }

    &:focus {
        color: $secondary-color;
        box-shadow: 0 0 0 3px $secondary-color;
    }
}
