$primary-color: #b3bf54;
$secondary-color: #324373;
$light-color-1: #f1f1f1;

$type-normal-color: #f1f1f1;
$type-fighting-color: #bf2f27;
$type-flying-color: #a78fef;
$type-poison-color: #9f3fa0;
$type-ground-color: #dfbf68;
$type-rock-color: #b69737;
$type-bug-color: #d4e260;
$type-ghost-color: #6f5697;
$type-steel-color: #b0b0b6;
$type-fire-color: #ef7e2e;
$type-water-color: #678fef;
$type-grass-color: #77c74e;
$type-electric-color: #f7cf2f;
$type-psychic-color: #f75787;
$type-ice-color: #97d7d7;
$type-dragon-color: #6f37f8;
$type-dark-color: #423225;
$type-fairy-color: #fdadc8;
$type-shadow-color: #000000;
$type-unknown-color: #353535;

$header-height: 96px;

$styled-font: Nexa;
