@import "../../../../../styles/partials";

.carousel_container {
    width: 100%;
    max-width: 480px;
    max-height: 480px;
}

.carousel {
    width: 100%;
    position: relative;
    aspect-ratio: 1/1;

    img {
        position: absolute;
        inset: 0;
        display: block;
        width: 100%;
        opacity: 0;
        animation: carouselAnimation 30s linear infinite;

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                animation-delay: (($i - 1) * 6s);
            }
        }
    }
}

@keyframes carouselAnimation {
    0% {
        opacity: 0;
    }
    3% {
        opacity: 1;
    }
    18% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.carousel_placeholder {
    width: 100%;

    img {
        display: block;
        width: 100%;
    }
}
