@import "../../../styles/partials";

.loading_container {
    min-height: calc(100vh - $header-height);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading_img {
    display: block;
    height: 50px;
    animation: loading-animation 1s linear infinite;
    aspect-ratio: 1/1;

    @media screen and (max-width: 480px) {
        height: 30px;
    }
}

.pokedex_container {
    padding-bottom: 64px;
}

.search_bar {
    padding: 16px;

    .search_input {
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
        display: flex;
        border: 2px solid $primary-color;
        border-radius: 24px;
        overflow: hidden;

        input {
            width: 100%;
            padding: 8px;
            padding-left: 8px;
            border: none;
        }

        button {
            background: $primary-color;
            border: none;
            padding: 0 16px;
            cursor: pointer;

            svg {
                pointer-events: none;
            }
        }
    }
}

.pokedex_grid {
    width: 100%;
    max-width: 1080px;
    display: grid;
    grid-template-columns: repeat(5, minmax(0px, 1fr));
    grid-gap: 16px;
    padding: 16px 32px;
    margin: 0 auto;

    @media screen and (max-width: 1080px) {
        grid-template-columns: repeat(4, minmax(0px, 1fr));
    }

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px 16px;
    }
}

.loading {
    width: 100%;
    padding: 16px;
    align-items: center;
    justify-content: center;
    display: none;
}

@keyframes loading-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
