@import "../../../../../styles/partials";

.checkbox_container {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    &:hover {
        .checkmark {
            background-color: $primary-color;
        }
    }

    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        visibility: hidden;

        &:checked ~ .checkmark {
            background: url("../../../../../assets/svg/ball.svg") no-repeat
                center;
        }
    }

    .checkmark {
        display: block;
        width: 25px;
        height: 25px;
        margin-right: 4px;
        border-radius: 50%;
        background-color: #ccc;
        cursor: pointer;
    }
}
