@import "../../../../../styles/partials";

.about_item_container {
    font-family: $styled-font;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: $light-color-1;

    @media screen and (max-width: 480px) {
        font-size: 16px;
    }

    a {
        color: $secondary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        img {
            width: 20px;

            @media screen and (max-width: 480px) {
                width: 16px;
            }
        }
    }
}
