@font-face {
    font-family: Nexa;
    src: url("./assets/fonts/Nexa-Heavy.ttf");
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: #f1f1f1;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

.loading_placeholder {
    width: 100%;
    height: 100%;
    position: relative;
}

.loading_placeholder:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    translate: -50% -50%;
    background: url("./assets/svg/ball.svg") no-repeat center;
    background-size: contain;
    animation: loading_animation 2s linear infinite;
}

@keyframes loading_animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
