@import "../../../../../styles/partials";

.card_container {
    display: block;
    width: 100%;
    max-width: 500px;
    background-color: $primary-color;
    padding: 8px;
    border-radius: 8px;

    @media screen and (max-width: 767px) {
        max-width: 100%;
        height: 92px;
        display: flex;
        align-items: center;
    }
}

.img_container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 4px;
    aspect-ratio: 1/1;

    @media screen and (max-width: 767px) {
        height: 100%;
        margin-right: 8px;
    }

    img {
        display: none;
        width: 100%;
        height: 100%;
        text-align: center;
    }
}

.body_container {
    width: 100%;

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: row;
        height: 100%;
    }
}

.infos_container {
    width: 100%;
    margin-bottom: 12px;

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 0;
    }

    .name {
        font-family: $styled-font;
        font-size: 20px;
        font-weight: bold;
        text-transform: capitalize;
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media screen and (max-width: 540px) {
            max-width: calc(540px - 270px);
        }

        @media screen and (max-width: 460px) {
            max-width: calc(440px - 270px);
        }

        @media screen and (max-width: 380px) {
            max-width: 116px;
        }
    }
}

.types {
    display: flex;
    align-items: center;
    gap: 8px;

    @media screen and (max-width: 380px) {
        font-size: 12px;
    }

    .type_el {
        background-color: $light-color-1;
        padding: 0 8px;
        border-radius: 4px;
        text-transform: capitalize;

        &[data-type="normal"] {
            background-color: $type-normal-color;
        }

        &[data-type="fighting"] {
            background-color: $type-fighting-color;
            color: $light-color-1;
        }

        &[data-type="flying"] {
            background-color: $type-flying-color;
        }

        &[data-type="poison"] {
            background-color: $type-poison-color;
            color: $light-color-1;
        }

        &[data-type="ground"] {
            background-color: $type-ground-color;
        }

        &[data-type="rock"] {
            background-color: $type-rock-color;
        }

        &[data-type="bug"] {
            background-color: $type-bug-color;
        }

        &[data-type="ghost"] {
            background-color: $type-ghost-color;
            color: $light-color-1;
        }

        &[data-type="steel"] {
            background-color: $type-steel-color;
        }

        &[data-type="fire"] {
            background-color: $type-fire-color;
        }

        &[data-type="water"] {
            background-color: $type-water-color;
            color: $light-color-1;
        }

        &[data-type="grass"] {
            background-color: $type-grass-color;
        }

        &[data-type="electric"] {
            background-color: $type-electric-color;
        }

        &[data-type="psychic"] {
            background-color: $type-psychic-color;
        }

        &[data-type="ice"] {
            background-color: $type-ice-color;
        }

        &[data-type="dragon"] {
            background-color: $type-dragon-color;
            color: $light-color-1;
        }

        &[data-type="dark"] {
            background-color: $type-dark-color;
            color: $light-color-1;
        }

        &[data-type="fairy"] {
            background-color: $type-fairy-color;
        }

        &[data-type="shadow"] {
            background-color: $type-shadow-color;
            color: $light-color-1;
        }

        &[data-type="unknown"] {
            background-color: $type-unknown-color;
        }
    }
}

.btn_container {
    button {
        width: 100%;
        height: 100%;
        border: none;
        background-color: $secondary-color;
        padding: 8px;
        border-radius: 8px;
        text-align: center;
        color: $light-color-1;
        cursor: pointer;

        &.desktop_btn {
            @media screen and (max-width: 767px) {
                display: none;
            }
        }

        &.mobile_btn {
            display: none;
            background-color: transparent;
            color: $secondary-color;
            font-size: 24px;

            @media screen and (max-width: 767px) {
                display: block;
            }
        }
    }
}
